* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(#00a8ff, #000) /*url('.src/img/background5.jpg')*/;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .box {
  background: #fff;
  padding: 20px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 15px;
}

.container .box h2 {
  font-size: 1.75em;
  font-weight: 500;
  color: #333;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container .box h2 .logo {
  height: 50px;
}

.container .box #grocery {
  position: relative;
  width: 100%;
  display: flex;
}

.container .box #grocery input {
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  outline: none;
  border-radius: 5px 0 0 5px;
}

.container .box #grocery button .logoPlus {
  width: 15px;
  margin-right: 5px;
}

.container .box #grocery button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4bae4f;
  color: #fff;
  min-width: 100px;
  min-height: 40px;
  font-weight: 500;
  border: 1px solid #333;
  outline: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  padding: 0 10px;
}

.container ul {
  list-style-type: none; /*remover marcadores de lista*/
  position: relative;
  width: 100%;
  padding: 10px 20px 10px 40px;
  min-height: 398px;
  background: #fff repeating-linear-gradient(transparent 0%, transparent 99%, #000 99%, #000 100%);
  background-size: 50px 50px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.container ul li {
  display: flex;
  position: relative;
  font-size: 1.5em;
  height: 50px;
  /*margin-left: 10px;*/
}

.container ul li .remove {
  position: absolute;
  top: 5px;
  right: 0;
  width: 28px;
  height: 28px;
  /*background: url(minus.png);
  background-size: cover*/
  background: #F03A17;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.container ul li .remove img {
  position: absolute;
  top: 5px;
  right: 4px;
  /* filter: invert(1); */
}

.container ul li.check p {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2);
}

.container ul li.check p:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 35px;
  width: 25px;
  height: 25px;
  /*background: url(plus.png);
  background-size: cover*/
  background: #4bae4f;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.totalBox {
  background: #fff;
  padding: 20px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.totalBox .totalValue {
  margin-bottom: 15px;
  text-align: center;
}

.totalBox .logoTrash {
  margin-right: 5px;
}

.totalBox #clearListBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  min-height: 40px;
  padding: 5px 10px;
  background: #F03A17;
  outline: none;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #333;
  font-weight: 500;
  margin: 0 auto;
}

.footer {
  color: #fff;
  max-width: 70vw;
  margin: 0 auto 15px auto;
  text-align: center;
  text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
}

.footer a {
  color:#4bae4f;
  text-decoration: none;
}
